.cart {
  padding-top: 4em;
  min-height: 500px;
  flex-direction: column;
  background: white;
}

.checkout-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3em;
}

.checkout-left {
  height: max-content;
  background-color: transparent;
  color: black;
  width: 50%;
  padding-right: 3em;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  h1 {
    text-align: center;
    padding: 1em 0;
  }
}

.checkout-rigth {
  height: max-content;
  background-color: none;
  border: 3px solid #7f1882;
  color: black;
  width: 40%;
  display: flex;
  position: sticky;
  right: 50px;
  top: 100px;
  margin-top: 120px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  flex-direction: column;
  padding: 2em 1em;
}
