.arma-container {
  background: white;
  padding-top: 4em;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  .info {
    h1 {
      margin-bottom: 0.2em;
      font-family: "CenturyGothic" !important;
      font-size: 3.2rem;
    }
  }
}
.arma {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  .macaron {
    height: max-content;
    svg {
      height: 500px;
      width: 30vw;
    }
  }
  .select {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      select {
        margin: 0.5em;
        padding: 1em;
        width: 80%;
        background: #0ecdb6;
        color: white;
        border: none;
        border-radius: 10px;
        font-weight: 700;
        padding: 1.2em;
      }
      .botones {
        width: 81%;
        button {
          background: #7f1882;
          width: 30%;
          padding: 1em;
          color: white;
          border: none;
          border-radius: 15px;
          margin: 0.5em;
          outline: none;
        }
        button:hover {
          background: #ad36b1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .arma {
    flex-direction: column;
    .macaron {
      display: flex;
      justify-content: center;
      svg {
        width: 70%;
        height: 20em;
      }
    }
    .select {
      width: 80%;
    }
  }
}
