.dirigimos {
  overflow-x: hidden;
  height: max-content;
  padding-bottom: 5em;
  .banner {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    margin: 0;
  }

  .info-rigth {
    background: #ff4161;
    color: white;
  }

  .info-left {
    flex-wrap: wrap;
  }

  .title {
    margin: 1em auto;
    width: max-content;
  }
}

.mision {
  padding-top: 4em;
  margin: 0 10em;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }
}

.producto {
  margin: 5em auto;
  padding: 3em 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  h1 {
    justify-content: flex-start;
    margin-left: 0;
  }
  p {
    margin-bottom: 20px;
    text-align: center;
  }
}

.valor-text {
  .title {
    margin: 1em;
    width: initial;
  }
}

@media screen and (max-width: 900px) {
  .banner,
  .swiper-container {
    height: 30em !important;
  }
  .dirigimos {
    .info-left {
      width: 100%;
      padding: 2em;
      margin: 5em 0;
      justify-content: center;
      img {
        position: static;
        width: 60%;
        height: auto;
      }
    }
    .info-rigth {
      background: #ff4161;
      color: white;
      img {
        width: 40%;
        min-width: 400px;
      }
    }
  }
  .valor-text {
    width: 100%;
    padding: 2em;
    justify-content: center;
    text-align: center;
    h2 {
      width: 80%;
      margin: auto;
    }
  }
  .producto {
    width: 100%;
    padding: 2em;
  }
}
