.cart {
  padding-top: 4em;
  background: white;
}

.checkout-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3em;
}

.checkout-left {
  height: max-content;
  background-color: #7f1882;
  color: white;
  width: 50%;
  padding-right: 3em;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  h1 {
    text-align: center;
    padding: 1em 0;
  }
}

.checkout-rigth {
  height: max-content;
  background-color: #7f1882;
  color: white;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  flex-direction: column;
  padding: 5em 1em;
}
