.contact-data {
  width: 30%;
  a {
    display: flex;
    flex-direction: column;
    font-size: 1.8vw;
    color: black;
    svg {
      font-size: 5vw;
    }
  }
  a:hover svg {
    fill: #0ecdb6;
  }
}
