.dirigimos {
  overflow-x: hidden;
  height: max-content;
  padding-bottom: 5em;
  .banner {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }

  .info-rigth {
    background: #ff4161;
    color: white;
  }

  .title {
    margin: auto;
    width: max-content;
  }
}

.mision {
  padding-top: 4em;
  margin: 0 10em;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }
}

.producto {
  margin: 5em auto;
  padding: 3em 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  h1 {
    justify-content: flex-start;
    margin-left: 0;
  }
  p {
    margin-bottom: 20px;
  }
}

.valor-text {
  .title {
    margin: 1em;
    width: initial;
  }
}
