.footer-container {
  background: #7f1882;
  height: max-content;
  min-height: 20em;
  width: 100%;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .copy-text {
    text-align: center;
  }
  .footer-info {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-around;
    img {
      width: 10vw;
      height: 5vw;
      filter: brightness(555500%);
    }
    a {
      color: white;
      list-style: circle;
      display: list-item;
    }
    .logo-footer {
      display: flex;
    }

    ul {
      columns: 2;
      gap: 8rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer-container {
    height: 35em;
    padding: 3em 0;
    gap: 5em;
    .footer-info {
      flex-direction: column;
      align-items: center;
      gap: 5em;
      ul {
        columns: 1;
        a {
          margin: 10px 0;
          font-size: 1.2em;
        }
      }
      .logo-footer {
        justify-content: center;
        align-items: center;
        img {
          width: 10em;
          height: auto;
        }
      }
    }
  }
}
