.home {
  padding-top: 1em;
  overflow: hidden;
  .gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em 0;
    img {
      height: 25em;
      width: auto;
      max-width: 25em;
      object-fit: cover;
    }
  }
  .info-rigth {
    background: #ff4161;
    margin: 5vw 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    color: white;
    .valor-text {
      height: 100%;
      margin: auto;
      h1 {
        width: 8em;
        margin: 1em 0 1em auto;
        font-family: CovesBold;
      }
      a {
        display: inline;
        button {
          width: max-content;
          background: #ffff4a;
          margin: 10px;
          color: black;
          height: max-content;
          font-size: 0.6em;
          border-radius: 20px;
          padding: 1em;
          border: 2px solid black;
          outline: none;
        }
      }
    }
  }
}

.home-container {
  margin-top: calc(3em - 10px);
  height: 40vw;
  .logo {
    position: absolute;
    height: 22vw;
    width: auto;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: contrast(1.2);
    z-index: 2;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    filter: brightness(1.2) opacity(0.5);
    mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 40%
    );
    .swiper-slide {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: rgb(255, 65, 97);
    }
    .swiper-pagination-bullet-active {
      background: rgb(255, 65, 97);
    }
  }
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto 2em auto;
  justify-content: space-around;
}

.title {
  display: flex;
  margin: 1em auto;
  width: 80%;
  font-size: 3.5em;
  justify-content: center;
  font-family: CovesBold;
}

.banner {
  height: 35em;
  margin: 4em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  .banner-info {
    grid-column: 1 / end;
    grid-row: 1 / end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 6em;
      text-align: center;
      color: white;
      margin: 0 2em;
      font-weight: 900;
      margin-bottom: 0.5em;
      font-family: CenturyGothic;
    }
    p {
      font-size: 2em;
      font-weight: 500;
      color: white;
    }
    button {
      background: rgb(255, 65, 97);
      color: white;
      padding: 1em;
      margin-top: 2em;
      font-size: 1em;
      border-radius: 10px;
      border: 2px solid black;
    }
  }
  img {
    grid-column: 1 / end;
    grid-row: 1 / end;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    object-fit: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    height: 80vw;
    .logo {
      height: 40vw;
    }
  }

  .title {
    margin: 1em auto 1em auto;
    font-size: 2.5em;
  }

  .banner {
    height: 100vw;
    .banner-info {
      h1 {
        font-size: 10vw;
      }
      p {
        font-size: 5vw;
      }
    }
  }
}
