body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}

@font-face {
  font-family: "CovesBold";
  src: local("CovesBold"), url("./fonts/Coves-Bold.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "CenturyGothic";
  src: local("CenturyGothic"),
    url("./fonts/Century-Gothic.TTF") format("truetype");
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 65, 97);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:hover {
  cursor: pointer;
}
