.info-rigth {
  background: #ffff4a;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  img {
    object-fit: cover;
    margin: 0;
    height: auto;
    width: 50%;
  }
  h1 {
    justify-content: flex-start;
    margin-left: 0;
    text-align: center;
  }
  h2 {
    font-weight: 100;
    text-align: center;
  }
}

.info-left {
  margin: 5em 30em 5em 0em;
  padding: 3em 8em;
  background: #ffff4a;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  img {
    width: 30vw;
    position: absolute;
    right: 8em;
    transform: translateY(-20px);
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }
  h1 {
    justify-content: flex-start;
    margin-left: 0;
  }
  h2 {
    font-weight: 100;
  }
}

@media screen and (max-width: 900px) {
  .info-rigth {
    img {
      width: 100vw;
    }
  }
}
