.ofrecemos {
  overflow-x: hidden;
  height: max-content;
  padding-bottom: 5em;
  .banner {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }
}

.mision {
  padding-top: 4em;
  margin: 0 10em;
  display: flex;
  flex-direction: row-reverse;
  .mision-text {
    padding: 0 4em;
    h1 {
      justify-content: flex-start;
      margin-left: 0;
    }
  }
  img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 0;
  }
}
