.product {
  background: white;
  margin: 1em;
  width: 280px;
  height: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
  .product-info {
    padding: 1em;
    margin-top: -3em;
    h1 {
      font-size: 1.3em;
    }
  }
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px 5px 0 0;
  }

  button {
    margin: auto;
    position: relative;
    top: 65px;
    left: 110px;
    background: rgb(255, 65, 97);
    color: white;
    border-radius: 50%;
    width: 38px;
    z-index: 20;
    height: 38px;
    border: 1px solid black;
    outline: none;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  button:active {
    background-color: rgb(255, 111, 135);
  }
}

.product:hover {
  img,
  button {
    filter: brightness(1.2);
  }
}
